
/* .mx-4{
   justify-content: right;
   text-align: right;
} */

.mb-2{
    background-color: blueviolet;
    color:rgba(187, 223, 26, 0.664);
    font-size: x-large;
}
.mx-3{
    display: inline-block;
    /* padding-inline: 100px; */
    font-size: x-large;
    right:0px;

}
.mx-4{
    font-size: x-large;
    text-align: right;
    margin-right: 0px;
}
.mx-5{
    text-align: right;
    justify-content: right;
    margin-right: 0px;
    font-size: medium;
}
#ButtonGroup{
    right:0px;
}
Navbar.mx-3{
    color: blueviolet;
}
.mb-2{
    height: 54px;
}
/* .image{
    display: inline-block;
    size:50;
}
#img{
    size:10;
} */
.username{
    color: black;
}
