.Game{
    position:absolute;
    top: 120px;
   justify-content: center;
   align-items: center;
}
/* .img_col {
    float: left;
    width: 33.33%;
    padding: 5px;
} */
.img_col{
    display:inline-block;
    position: flex;
    padding:12px;
    justify-content: center;
    align-items: center;
   
}

div.img_row{
    justify-content: center;
    position: flex;
    align-items: center;
    display: inline-block;
    /* margin-left: 0px;
    margin-right: 100px; */
}
  
  /* Clear floats after image containers */
.img_row::after {
    content: "";
    clear: both;
    display: table;
}
.match{
    justify-content: center;
    position: flex;
    align-items: center;
}


/* .stadium{
    font-style:italic;
} */

/* #h1{
    top:50px;
} */

.search{
    position:relative;
    top:0;
}

